<div class="container">
    <h3> {{ viewTitle }} </h3>
    <form>
        <div class="mb-3">
            <label for="inputAuthor">Author</label>
            <input type="text" class="form-control" id="inputAuthor" name="author" placeholder="author">
        </div>
    </form>
</div>